:root{
  --bg: #2556c0;
}
body{
  background-color: black;
  color: white;
}
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
  color: rgb(188, 209, 223);
  text-decoration: none;
  padding: 0.1vw;
}
code{
  background-color: black;
  color: white;
  margin: 50vw;
  padding: 0.1vw;
  font-size: 1vw;
}
button{
  background-color: black;
  color: white;
  border: 0.1vw white solid;
}

/* top header bar */
.homeButton{
  text-decoration: none;
  color: rgb(205, 210, 214);
}
.homeDiv{
  position: absolute;
  top: -2vw;
}
.homeButton:hover{
  color: rgb(231, 226, 226);
  font-weight: 900;
}
.pfp{
  width: 3vw;
}
.pagesLinks{
  position: absolute;
  top: 1vw;
  right: 1vw;
  font: bold;
  float: right;
}
.pagesLink{
  font: 1vw;
}
.pagesLink:hover{
  font-weight: 1000;
  padding: none;
}
.pageName{
  margin: 2vw;
  text-align: center;
}
/*  */

/* blog page */
.blog{
  cursor: pointer;
  background-color: rgb(40, 41, 41);
  padding: 0.4vw;
  margin:1vw;
  border-radius: 0.3vw;
}
.blogPostedDate{
  float: right;
}
/*  */

/* home page */
.content{
  margin: 6vw 3vw 0;
}
.introduction{
  text-align: center;
}
.bigPfp{
  width: 10vw;
  padding: 1vw;
}
/*  */


/* specific blog page */
.comments{
  margin: 1vw;
}
.comment{
  margin: 1vw;
  padding: 0.5vw;
  background-color: rgb(31, 33, 37);
  font-weight: 100;
  font-style:oblique;
}
.halfTransparent{
  opacity: 0.5;
  padding: 1vw;
  text-align: center;
}
.back{
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 1vw;
  cursor: pointer;
}
/*  */