:root{
  --blog: #282929;
  --blogHover: #313535;
}
body{
  background-color: black;
  color: white;
}
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
  color: rgb(188, 209, 223);
  text-decoration: none;
  padding: 0.1vw;
}
code{
  background-color: black;
  color: white;
  margin: 50vw;
  padding: 0.1vw;
  font-size: 1vw;
}
button{
  cursor: pointer;
  background-color: black;
  color: white;
  border: 0.1vw white solid;
}
button:hover{
  background-color: var(--blogHover);
}
.no{
  display: none;
}
iframe{
  left: 1vw;
  position:absolute;
  padding: 0;
  margin: 0;
  width: 95vw;
  height: 50vw;
}
/* top header bar */
.homeButton{
  text-decoration: none;
  color: rgb(205, 210, 214);
}
.homeDiv{
  position: absolute;
  top: -2vw;
}
.homeButton:hover{
  color: rgb(231, 226, 226);
  font-weight: 900;
}
.pfp{
  width: 3vw;
}
.pagesLinks{
  position: absolute;
  top: 1vw;
  font-size: 1vw;
  right: 1vw;
  font: bold;
  float: right;
}
.currentPagesLink{
  font-weight: 1000;
  padding: none;
}
.pagesLink{
  font-size: 1vw;
}
.pagesLink:hover{
  animation-name: turnBold;
  animation-duration: 1s;
  padding: none;
  font-weight: 1000;
  font-size: 1.1vw;
}
@keyframes turnBold {
  from {
    font-size: 1vw;
  }
  to {
    font-size: 1.1vw;
  }
}
.pageName{
  margin: 2vw 0 0 0;
  text-align: center;
}
/*  */

/* blog page */
.blog{
  line-height: 0.8vw;
  background-color: var(--blog);
  padding: 0.4vw;
  margin:1vw;
  border-radius: 0.3vw;
}
.blog:hover{
  background-color: var(--blogHover);
}
.date{
  float: right;
  color: rgba(255, 255, 255, 0.459);
}
.id{
  text-align: right;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.425);
}
/*  */

/* home page */
.content{
  margin: 6vw 3vw 0;
}
.introduction{
  text-align: center;
}
.bigPfp{
  width: 10vw;
  padding: 1vw;
}
/*  */


/* specific blog page */
.comments{
  margin: 1vw;
}
.comment{
  inline-size: 85vw;
  margin: 1vw;
  padding: 0.5vw;
  background-color: rgb(31, 33, 37);
  font-weight: 100;
  font-style:oblique;
  word-break: break-all;
}
.longComment{
  inline-size: 85vw;
  margin: 1vw;
  padding: 0.5vw;
  background-color: rgb(31, 33, 37);
  font-weight: 100;
  font-style:oblique;
  word-break: break-all;
  overflow: hidden;
  height: 10vw;
}
.longComment:hover{
  height: auto;
  overflow: scroll;
}
.halfTransparent{
  opacity: 0.5;
  padding: 1vw;
  text-align: center;
}
.back{
  -webkit-filter: invert(100%);
  filter: invert(100%);
  width: 1vw;
  cursor: pointer;
}
.plusComment{
  border-radius: 20vw;
  font-size: 2vw;
  float: right;
  padding: 0.3vw;
}
.reply{
  padding: 0.01vw 1vw;
  background-color: var(--blogHover);
}
.comment_body{
  padding: 1vw;
}
/*  */

/* new comment page */
#commentTextarea{
  background-color: var(--blogHover);
  color: white;
  width: 80vw;
  height: 20vw;
  font-size: 1vw;
  max-width: 90vw;
  max-height: 30vw;
}
.username{
  background-color: var(--blogHover);
  color: white;
  margin: 1vw;
  font-size: 1vw;
  margin: 0 0 0.5vw 0;
  width: 70vw;
}
.error{
  color: rgb(231, 37, 37);
}
.cancel{
  font-size: 1vw;
}
/*  */


/* projects */
.favicons{
  font-size: 3vw;
  padding: 0.3vw;
}

/* specific project */
.center{
  text-align: center;
  padding: 0;
}
.projectName{
  padding: 0;
  margin: 0;
}
.fullscreenButton{
  position: fixed;
  top: 9vw;
  right: 2vw;
  z-index: 99;
  border-radius: 0.1vw;
}
.fullscreenImg{
  width: 1vw;
}
.fullscreenIframe{
  top: 0;
  left: 0;
  position: absolute;
  margin: 0px;
  padding: 0px;
  height: 100%;
  border: none;
  display: block;
  width: 100%;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
}
.mobilePfp{
  display: none;
}

@media only screen and (max-width: 850px) {
  .homeDiv{
    top: -5vw;
  }
  .pagesLink{
    font-size: 2vw;
  }
  .currentPagesLink{
    font-size: 3vw;
    margin: 1vw;
  }
}
@media only screen and (max-width: 850px) {
  .homeButton{ 
    display: none;
  }
  .mobilePfp{
    display: block;
    width: 10vw;
    position: absolute;
    top: 5vw
  }
  .specificB0log{
    margin-top: 30vw;
    line-height: 0.8vw;
    background-color: var(--blog);
    padding: 0.4vw;
    border-radius: 0.3vw;
    height: 50vw;
    line-height: 10vw;
  }
  .comment{
    height: 20vw;
    line-height: 5vw;

  }
  .longComment{
    height: 40vw;
    line-height: 5vw;
  }
  .pagesLink{
    font-size: 5vw;
  }
  .date{
    display: none;
  }
}